[submodule "frontend"]
	path = frontend
	url = https://github.com/Web-Engineering-XDU/Project-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Web-Engineering-XDU/Project-Backend.git
